<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>{{ site.name }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="res/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="res/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <header>
    <nav class="top-nav" style="background-color:{{ site.theme }}">
      <div class="container">
        <div class="nav-wrapper"><a class="page-title">{{ site.name }}</a></div>
      </div>
    </nav>
  </header>
  <main>
    <div class="demo-ribbon" style="background-color:{{ site.theme }}"></div>
    <div class="row">
      <div class="col hide-on-small-only m1 hide-on-large-only">
        <p style="color:rgba(0,0,0,0)">o</p>
      </div>
      <div class="col hide-on-small-only hide-on-med-only l2">
        <ul id="navi" style="display:none">
          {% for item in site.posts %}
            <a class="collapsible-header" href="{{ item.url }}" id="{{ item.path | split:'.' | first | remove_first:'_posts/' }}">{{ item.title }}</a>
          {% endfor %}
        </ul>
        <ul class="collapsible" name="top" data-collapsible="accordion">
        </ul>
      </div>
      <div class="col s12 m10 l8" style="margin-top:-35vh">
        <div class="">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="section col s12 m9 l10">
                  {{ content }}
                </div>
                <div class="col hide-on-small-only m3 l2">
                  <div class="toc-wrapper">
                    <div style="height: 1px;">
                      <ul class="section table-of-contents">
                        <li><a href="#grid-container">Container</a></li>
                        <li><a href="#grid-intro">Introduction</a></li>
                        <li><a href="#grid-offsets">Offsets</a></li>
                        <li><a href="#grid-layouts">Creating Layouts</a></li>
                        <li><a href="#grid-responsive" class="active">Responsive Layouts</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col hide-on-small-only hide-on-med-only l2"></div>
      <div class="col hide-on-small-only m1 hide-on-large-only"></div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        made by macLai
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="res/js/materialize.js"></script>
  <script src="res/js/init.js"></script>
</body>

</html>
